@import '../../../theme.scss';

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-card {
  width: calc(100% - 100px);

  margin: 20px auto;
}

.spinner-container {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: rgba(255,255,255,0.7);

  &:empty {
    display: none;
  }
}

.stack-availability {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  mat-form-field {
    width: 100%;
  }

  button {
    align-self: flex-end;
  }
}

.camera-discovery-container {
  .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      mat-icon {
        vertical-align: middle;

        margin: -2px 8px 0 0;
      }
    }
  }

  .manual-camera-container {
    width: 60%;

    .new-camera-form {
      width: 100%;
    }

    .buttons-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  .table-container {
    position: relative;

    min-height: 50px;

    table {
      width: 100%;

      margin: 20px 0;
      border: 1px solid #eee;
      border-bottom: none;
    }
  }

  .camera-authentication-container {
    .auth-type-container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .mat-subheading-1 {
        margin-right: 10px;
      }

      mat-radio-group {
        mat-radio-button {
          vertical-align: middle;

          margin-right: 10px;
        }
      }
    }

    .camera-credentials {
      h3 {
        margin-bottom: 10px;
      }

      mat-form-field {
        display: block;
        max-width: 200px;
      }
    }
  }
}
