.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    width: 600px;
  }

  .stack-availability {
    mat-form-field {
      width: 100%;
    }

    button {
      float: right;
    }
    mat-spinner {
      float: right;
    }
  }

  .camera-discovery {
    mat-spinner {
      //FIXME
      display: inline-block;
    }

    mat-form-field {
      width: 100%;
    }

  }

}
