// /* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'theme';


html, body {
  height: 100%;

  margin: 0;
  padding: 0;

  color: mat-color($mat-grey, 900);
}

