@import '~@angular/material/theming';

@include mat-core();

$config-app-primary: mat-palette($mat-indigo);
$config-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$config-app-warn:    mat-palette($mat-red);
$config-app-grey:    mat-palette($mat-grey);

$config-app-theme: mat-light-theme($config-app-primary, $config-app-accent, $config-app-warn);

@include angular-material-theme($config-app-theme);
